<h1>Rate the Restaurant</h1>
<h2><%= @restaurant.name %></h2>
<p>Category: <%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<%# <p><strong><%= @restaurant.rating </strong></p> %>
